html {
	margin: 0;
}

body {
	background: #FAF6E8;
	margin: 0;
	padding-bottom: 10px;
}

header {
	background: #F7E5AD;
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	margin-bottom: 0;
}

#fix {
	margin: 0 !important;
}

h1#fix {
	font-family: 'Nothing You Could Do', cursive;
}

h1 {
	font-family: 'IM Fell English', serif;
	font-size: 48px;
	padding-left: 20px;
}

h2 {
	font-family: 'IM Fell English', serif;
	font-size: 36px;
}

h5 {
	font-family: 'IM Fell English', serif;
	font-size: 14px;
}

#ride-btn {
	border: none;
	background-color: #EDEDE8;
	opacity: 0.8;
	z-index: 30;
	border-radius: 4px;
  position: fixed;
  top: 36%;
  left: 38%;
  z-index: 30;
}

div#map-canvas-bottom {
	height: 10px;
}

p.recipe {
	font-family: 'IM Fell English', serif;
	font-size: 18px;
	padding-left: 10px;
}

form.button_to {
	padding-left: 10px;
}

p {
	padding-bottom: 10px;
}

ul.navbar-items {
	list-style-type: none;
	color: #555;
}

li#welcome.nav {
	padding-left: 400px;
}

div#user-widget.navbar-header {
	padding-bottom: 15px;
	color: #555;
}

div.field {
	padding-left: 20px;
	font-family: 'Nothing You Could Do', cursive;
}

div.actions {
	padding-left: 20px;
	padding-top: 10px;
}

#button input {
	border: none;
	background-color: #F7E5AD;
	font-size: 18px;
	font-family: 'Nothing You Could Do', cursive;
	padding: 5px;
}

.new_party.field input {
	border: none;
	font-size: 18px;
	font-family: 'Nothing You Could Do', cursive;
	padding: 5px;
}

input {
	border: none !important;
	padding: 5px !important;
	background-color: #DEDDD9 !important;
}

.navbar-header {
	list-style-type: none;
	font-family: 'IM Fell English', serif;
	background-color: #f8f8f8;
	border: none;
	color: #555;
	width: 100%;
	height: 50px;
}

.navbar-brand a {
	color: #555;
}

.nav {
	display: inline;
	list-style-type: none;
	padding: 10px 20px 10px 20px;
	float:left;
	color: #555;
}

.nav a {
	text-decoration: none;
	color: #555;
}

#user-widget {
	float: left;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#search-bar {
	float: right;
	padding: 10px !important;
	border: none;
	border-radius: 4px;
	background-color: #DEDDD9;
	margin: 10px;
}

div#recipe_box.recipe {
	font-family: 'IM Fell English', serif;
}

table {
	font-family: 'IM Fell English', serif;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #555;
	font-family: 'IM Fell English', serif;
	font-size: 16px;
}

li.nav a {
	font-size: 16px;
}

span.link {
	float: right;
	margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #DEDDD9 !important;
}

button.button {
	margin: 20px;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: #DEDDD9 !important;
}

.category {
	padding-left: 20px;
}

#recipe_box {
	padding-left: 20px;
}

#facebook_posting, {
	padding-left: 20px;
}

div.category_container {
	margin-left: 15% !important;
	margin-right: 15% !important;
	height: 60px !important;
}

.fb-login-button {
	padding-left: 20px;
}

input#button.fb-login-button.fb_iframe_widget {
	padding-left: 20px;
}

div#fb-post {
	padding-left: 20px;
}
#Ride-request {
	padding: 20px 0 0 20px;
}