html {
	margin: 0;
}

body {
	background: #FAF6E8;
	margin: 0;
	padding-bottom: 10px;
}

header {
	background: #F7E5AD;
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	margin-bottom: 0;
}

#fix {
	margin: 0 !important;
}

h1#fix {
	font-family: 'Nothing You Could Do', cursive;
}

h1 {
	font-family: 'IM Fell English', serif;
	font-size: 48px;
	padding-left: 20px;
}

h2 {
	font-family: 'IM Fell English', serif;
	font-size: 36px;
}

p.recipe {
	font-family: 'IM Fell English', serif;
	font-size: 18px;
	padding-left: 20px;
}

p {
	padding-bottom: 10px;
	padding-left: 20px;
}

ul.navbar-items {
	list-style-type: none;
	color: #555;
}

li#welcome.nav {
	padding-left: 200px;
}

div#user-widget.navbar-header {
	padding-bottom: 15px;
	color: #555;
}

div.field {
	padding-left: 20px;
	font-family: 'Nothing You Could Do', cursive;
}

div.actions {
	padding-left: 20px;
	padding-top: 10px;
}

#button input {
	border: none;
	background-color: #F7E5AD;
	font-size: 18px;
	font-family: 'Nothing You Could Do', cursive;
	padding: 5px;
}

.new_party.field input {
	border: none;
	font-size: 18px;
	font-family: 'Nothing You Could Do', cursive;
	padding: 5px;
}

input {
	border: none !important;
	padding: 5px !important;
}

.navbar-header {
	list-style-type: none;
	font-family: 'IM Fell English', serif;
	background-color: #f8f8f8;
	border: none;
	color: #555;
	width: 100%;
	height: 50px;
}

.navbar-brand a {
	color: #555;
}

.nav {
	display: inline;
	list-style-type: none;
	padding: 10px 20px 10px 20px;
	float:left;
	color: #555;
}

.nav a {
	text-decoration: none;
	color: #555;
}

#user-widget {
	float: left;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

div {
	font-family: 'Nothing You Could Do', cursive;
}

table {
	font-family: 'IM Fell English', serif;
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #555;
	padding-left: 20px
}

#recipe_box {
	padding-left: 20px;
}

#facebook_posting, {
	padding-left: 20px;
}

#Ride-request {
	padding: 20px 0 0 20px;
}