<h5>Psst...we have something for you!</h5>

<h5>You've been invited to a party on Cornucopia! Please click the link to RSVP:
<% @id = @party.id.to_s %>
<a href=<%= 'http://cornucopiahome.herokuapp.com/parties/' + @id + '/rsvp?' + 'token=' + @token + '&id=' + @id %>>Take me to the fun!</a></h5>